.banner {
    justify-content: center;
    align-items: center;
    background-image: url("./img/home.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 0;
    min-height: 80vh;
    width: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.banner-title {
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.banner-title h1 {
    font-size: 4rem;
    margin-bottom: 4rem;
    color: #FFF;
}

.banner-title p {
    font-size: 1.5rem;
    margin-bottom: 4rem;
    color: rgba(255, 255, 255, 0.65);
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 500px;
    margin: auto;
}

.register-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-title h1 {
    margin: 0;
    margin-right: 20px;
    font-size: 4em;
}