.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    font-size: 48px;
}

.department {
    width: 75vw;
}

.department img {
    width: auto;
}

.department p {
    font-size: .5em;
    font-style: italic;
}

.author {
    width: 90vw;
    display: flex;
    justify-content: center;
    border: solid;
    border-color: coral;
}

