.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    min-height: 100vh;
    font-size: 48px;
}

.department {
    width: 75vw;
    margin-top: 1em;
}

.department img {
    width: auto;
}

.department p {
    font-size: .7em;
    font-style: italic;
}

.author-list {
    width: 90vw;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;

    /* background-image: url("./components/img/Author_background.jpg"); */
    /* border: solid;
    border-color: coral; */
}

.author {
    /* border: solid; */
}

.author h1 {
    font-size: .5em;
}
