* {
    box-sizing: border-box;
}

.home {
    height: 100vh;
}

.place_Announce {
    width: 80%;
    float: left;
    background-color: #FFF8DC;
}

.Announce_button {
    float: left;
    margin-left: 10px;
    margin-top: 13px;
    height: 30px;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    background-color: green;
    cursor: pointer;
}

.Announce_button:first-child {
    margin-left: 45px;
    background-color: red;
}

.place_Weblink {
    width: 20%;
    float: right;
    background-color: #AFEEEE;
    height: 100%;
}

.place_Weblink h1 {
    margin-top: 1em;
    font-size: 2.7em;
    color: #2F4F4F;
    font-weight: 1000;
}

.place_Weblink h2 {
    margin:auto;
    width: 40%;
    font-size: 1.5em;
    font-weight: 700;
    background-color: rgb(61, 228, 172);
    border-radius: 10px;
    color: rgb(114, 70, 16);
    cursor: pointer;
}

.WebPage_h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10vw;
}

.WebPage_ul {
    list-style: none;
    width: 100%;
}

.WebPage_li {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 6vh;
    border-top: 1px solid #666;
}

.WebPage_li h2 {
    border-radius: 10px;
    margin-top: 1.5vh;
    padding: 0 6px;
    height: 30px;
    font-size: 1em;
    color: #fff;
    line-height: 30px;
    float: left;
}

.WebPage_li a {
    margin-left: 0.5rem !important;
    margin-top: 1.5vh;
    font-size: 1.3em;
    float: left;
    overflow : hidden;
    text-overflow : ellipsis;
    color: #556B2F;
}

.WebPage_li h3 {
    float: right;
    font-size: 1.2em;
    margin-top: 1.5vh;
    margin-right: 1.2vw;
    margin-bottom: 0;
    color: #191970;
}

.Weblink_ul {
    margin-top: 2em;
    width: 100%;
}

.Weblink_li {
    width: 100%;
    height: 50px;
}

.Weblink_a {
    margin-left: 0.5rem !important;
    font-size: 1.8em;
    font-weight: 600;
    float: left;
    padding-top: 0px;
    overflow : hidden;
    text-overflow : ellipsis;
    color: #800000;
}

.Weblink-x {
    display: none;
}

.Weblink_li:hover .Weblink-x {
    display: inline;
    position: absolute;
    margin-top: 5px;
    max-width: 20px;
    max-height: 20px;
    right: 20px;
}

.Weblink_li:hover .Weblink-x:hover {
    margin-top: 5px;
    max-width: 25px;
    max-height: 25px;
    right: 17.5px;
}

.Add_link_li {
    float: left;
    width: 100%;
    list-style-type: none;
}

.Add_link_li h1 {
    float: left;
    padding-right: 10vw;
    font-size: 1.5rem;
}

.Add_link_button {
    margin-top: 5vh;
    margin-right: 2vw;
    float: right;
}